@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root {
  min-height: 100vh;
  padding: 20px;
}
@media only screen and (max-width: 480px) {
  #root {
    padding: 0;
  }
}
/* font sizings */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3,
h4 {
  font-size: 1.5rem;
}

h5,
h6,
p,
button,
a,
svg {
  font-size: 1.2rem;
}

form input,
form label,
form p {
  font-size: 1rem;
}

/* input type=number take away arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* spinner animation */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
